/* ------------------------------------------------------------------
Project: RAINER RÖSING 2016
Version: 1.0
------------------------------------------------------------------ */
/* Fonts 
---------------------------------------------------- */

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'uni_sansbook';
    src: url('../fonts/Book/uni_sans_book-webfont.eot');
    src: url('../fonts/Book/uni_sans_book-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Book/uni_sans_book-webfont.woff') format("woff"), url('../fonts/Book/uni_sans_book-webfont.ttf') format("truetype"), url('../fonts/Book/uni_sans_book-webfont.svg#uni_sansbook') format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'uni_sansbold';
    src: url('../fonts/Bold/uni_sans_bold-webfont.eot');
    src: url('../fonts/Bold/uni_sans_bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Bold/uni_sans_bold-webfont.woff') format("woff"), url('../fonts/Book/uni_sans_bold-webfont.ttf') format("truetype"), url('../fonts/Book/uni_sans_bold-webfont.svg#uni_sansbold') format("svg");
    font-weight: 400;
    font-style: normal
}

/* Headline Sizing
---------------------------------------------------- */

h1,
h2,
h3 {
    letter-spacing: 2px;
}

/* Mono Social Font
---------------------------------------------------- */

.symbol,
a.symbol:before {
    font-family: 'Mono Social Icons Font'!important;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-transform: none!important;
}
a.symbol:before {
    content: attr(title)!important;
    font-size: 60px;
    line-height: 100px;
    color: #fff;
}

/* Handwritten font 
---------------------------------------------------- */

.handwritten, .handwritten h1{
    font-family: 'Sacramento', cursive;
    letter-spacing: 0px!important;
    font-weight: 400;
}

/* Nav
---------------------------------------------------- */

.navbar-nav {
    text-align: center;
}
.navbar {
    text-align: center;
}
ul.nav.navbar-nav {
    padding-bottom: 0px;
}
li.active a {
    color: #73CFAE!important;
	font-weight: bold;
}

.navbar-collapse {
	padding-bottom: 10px;
}
	
.navbar-toggle {float: none; margin: 0; padding: 17px 10px;}

/* Navbar Toggle
---------------------------------------------------- */

.navbar-toggle {
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.navbar-toggle .top-bar {
	margin-left: 5px!important;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform-origin: 10% 10%: -ms-transform-origin: 10% 10%;
    -o-transform-origin: 10% 10%;
    -webkit-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
	margin-left: 5px!important;
	transition: 0.1s;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-transform-origin: 10% 90%: -ms-transform-origin: 10% 90%;
    -o-transform-origin: 10% 90%;
    -webkit-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
	margin-left: 0px!important;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
	margin-left: 0px!important;
	transition: 0.1s;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

/* Spacebars
---------------------------------------------------- */

.spacerright {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    margin-left: -20%;
    width: 140%;
}
.spacerright {
    height: 30px;
	background: #F7F7F7;
}
.spacerleft {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    margin-left: -20%;
    width: 140%;
}
.spacerleft {
    height: 30px;
	background: #F7F7F7;
}
.spacerwrapper {
    width: 100%;
    overflow-x: hidden;
}

/* Variables
---------------------------------------------------- */

.bg-grey {
    background: #f2eeee;
}
.bg-none {
    background: none!important;
}
.bg-white {
    background: #fff;
}
.left {
    text-align: left;
}

.rotate {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.right {text-align: right!important;}


.introblock {
	background: #3b3d43;
    color: #fff;
    padding: 5px 10px;
    line-height: 1.9em;
}

.block {
    color: #fff;
    padding: 5px 10px;
    line-height: 1.9em;
}

.blocklight {
    background: rgba(0, 0, 0, 0);
    color:#3b3d43;
}

.block, .picture {	
	background: rgba(0, 71, 77, 0.8);
	background: -moz-linear-gradient(45deg, rgba(0, 84, 92, 1.0) 0%, rgba(114, 207, 173, 1.0) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0, 84, 92, 1.0)), color-stop(100%,rgba(114, 207, 173, 1.0)));
	background: -webkit-linear-gradient(45deg, rgba(0, 84, 92, 1.0) 0%,rgba(114, 207, 173, 1.0) 100%);
	background: -o-linear-gradient(45deg, rgba(0, 84, 92, 1.0) 0%,rgba(114, 207, 173, 1.0) 100%);
	background: -ms-linear-gradient(45deg, rgba(0, 84, 92, 1.0) 0%,rgba(114, 207, 173, 1.0) 100%);
	background: linear-gradient(45deg, rgba(0, 84, 92, 1.0) 0%,rgba(114, 207, 173, 1.0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00545C', endColorstr='#72CFAD',GradientType=1 );
}


/* Logo
---------------------------------------------------- */

#headerlogo {}

.logo {
    transition: 0.5s;
    width: 40px;
}
.logomobile img{
    height: 40px;
	margin: 40px 10px 0 10px;
}

/* Intro
---------------------------------------------------- */
.home-section {
display: table;
}

#tablewrapper {
display: table-cell;
vertical-align: middle;
}

#introwrapper {
    max-width: 1170px;
	margin: 0 auto;
	margin-top: 100px;
}

/* Text und Bild
---------------------------------------------------- */
.home-section .intro {
}

#name {
    display: inline-block;
}

.introtext {
    padding-left: 0px;
}
.introtext h1 {
    letter-spacing: 0px!important;
}

#picturewrapper {
	margin-top: 100px;
}

.picture {
    padding: 10px;
}

.fadeout {
    transition: 1s;
}

/* Intro/Contact Social
---------------------------------------------------- */

#social ul {
    list-style: none;
    margin: 10px 0 0 -95px!important;
}
#social ul li {
    display: inline;
    color: #666;
}
#social img {
    height: 30px;
    margin-right: 10px;
}
#socialc ul {
    list-style: none;
    margin: 50px 0 0 -25px!important;
}
#socialc ul li {
    display: inline;
    color: #666;
}
#socialc img {
    height: 50px;
    margin-right: 20px;
}

/* Location
---------------------------------------------------- */

#location {
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 96;
}
#location img {
	height: 40px; 
	margin-top: -10px;
}

.fa-anchor {
    font-size: 40px!important;
    padding: 0 2px;
}

/* Spacer
---------------------------------------------------- */
.first {
    margin-top: 100px;
    z-index: 99;
}

/* Pitch / about
---------------------------------------------------- */
#about{
	padding-top: 50px;
}
#about .fa {
    display: block!important;
    padding-bottom: 5px;
}

/* Tetimonials
---------------------------------------------------- */
.testimonialpic {
    padding-bottom: 20px;
}
.testimonialpic imgs {
    max-width: 300px;
}

/* Skills
---------------------------------------------------- */
.alt-features-title {
    padding-top: 10px;
}

.alt-features-item {padding: 0 40px;}


.st0 {
    fill: #73CFAE;
}
.st1 {
    fill: none!important;
	stroke:#3b3d43!important;
}

.stx {
    fill: none;
	stroke:#3b3d43!important;
}

/* Project Section
---------------------------------------------------- */
#projectcluster {width: 100%; max-width: 1400px;}

.work-item h3 {font-weight: bold;}
.work-item p {margin-bottom: 10px;}

.project img {
max-height: 50px; padding-top: 20px;}

.project img.expand {
	padding-top: 10px;
}

.project img.shrink {
	padding-top: 25px;
}

.current {
    font-weight: bold;
    background: #f2eeee;
    padding: 5px 10px;
}
.filter li a:hover,
.filters li a:focus {
    color: #4DAB8B!important;
    font-weight: bold;
}
.work-item {
    padding-bottom: 50px!important;
}
.case a {
    color: #4DAB8B;
    font-weight: bold;
}
.nocase a {
    color: lightgrey;
}
.client {
    font-size: 12px;
}

/* Award Section
---------------------------------------------------- */
.features-item {
    padding: 15px 0px;
}

/* Contact Section
---------------------------------------------------- */
.section-contact .picture {max-width: 200px; margin: 0 auto;}
.section-contact .picture {padding: 0;}

/* Imprint Link Fix
---------------------------------------------------- */
.pointer {
    cursor: pointer;
	
}
/* Modal/Imprint
---------------------------------------------------- */
.modal p {
    font-size: 12px;
    margin: 0px!important;
}
}
.modal-body {
    padding: 20px!important;
}
.modal-body h5,
.modal-body h4,
.modal-body h3,
.modal-body h2,
.modal-body h1 {
    font-weight: bold;
}
.modal-body h5 {
    padding-top: 20px!important;
}
.modal-body h4 {
    padding-top: 35px!important;
}
.modal a {
    color: #73CFAE!important;
}

.main {
    overflow: hidden;
	z-index: 97
}



/* Inside Extra Small
---------------------------------------------------- */

@media (max-width: 768px) {
	
	.introtext h1 {
        font-size: 20px!important;
    }
	
	h1 {
        font-size: 26px!important;
    }
	
    h2 {
        font-size: 24px!important;
        letter-spacing: 0px;
    }
    h3 {
        font-size: 20px;
    }
	
	h4 {
        font-size: 18px;
    }
	
	#picturewrapper {
		margin-top: 0px;
	}
	
	#social ul {
		margin: 15px 0 0 -40px!important;
		text-align: center;
	}
	
	#location {margin-top: 50px;}
	
}

/* Breaking Ultrasmall
---------------------------------------------------- */

@media (min-width: 550px) {
    #name {
        display: inline;
        margin: 0;
    }
 
    .blocklight {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        padding: 5px 10px;
    }
}
/* Starting after XS - Defining Small
---------------------------------------------------- */

@media (min-width: 768px) {
	
    ul.nav.navbar-nav {
        padding-left: 20px;
        padding-bottom: 0px;
    }
    .navbar-nav li {
        float: none;
        display: inline-block;
    }
    #headerlogo {
        display: inline-block;
    }
    .logomobile {
        display: none;
    }
	
	.intro h1 {
        text-align: left;
    }
	
    #about {
        padding-top: 150px;
    }
    .navbar-nav {
        width: 100%;
    }
	
	.work-item p, .work-item h3 {padding: 0 25px;}
}

/* Inside Small
---------------------------------------------------- */
@media (min-width: 768px) and (max-width: 992px) {
	
	h1 {
        font-size: 22px;
    }
	
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
	 h4 {
        font-size: 16px;
    }

	
	#picturewrapper{
		margin-top: 70px;
	}
}
	
/* Starting after Small - Defining Medium
---------------------------------------------------- */

@media (min-width: 992px) {
    .intro h1 {
        font-size: 30px;
    }

	#location {
    text-align: center;
    position: fixed;
    top: 40%;
    width: 100%;
    z-index: 90;
}
}
/* Starting after Medium - Defining Large
---------------------------------------------------- */

@media (min-width: 1200px) {}
/* Starting after Large - Defining XLarge
---------------------------------------------------- */

@media (min-width: 1441px) {
    /* Starting after XLarge Defining XXLarge
---------------------------------------------------- */
    
    @media (min-width: 1600px) {}
    /* Starting after XLarge Defining 3XXLarge
---------------------------------------------------- */
    
    @media (min-width: 2000px) {}